/**
* @name Better Message Attachments
* @author Anderzenn#0069
* @version 0.1
* @description A theme that fixes Discord's stupid decision to post multiple images in a column instead of in a grid type situation.
* @source https://github.com/Anderzenn/Better-Message-Attachments
* @updateUrl https://github.com/Anderzenn/Better-Message-Attachments/blob/main/BetterMessageAttachments.theme.css
*/

@import url(https://anderzenn.github.io/Better-Message-Attachments/src/BetterMessageAttachments.css);
:root {
    --max-image-size: 400px; /*Default: 400px*/
    --embed-size: 400px; /*Default: 400px*/
    --gif-size: 400px; /*Default: 400px, Discord Default: auto*/
}